@import './base.css';


@font-face {
  font-family: 'Vazir';
  src: url('@/assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #fbfbfb !important;
}
* {
  font-family: 'Vazir', sans-serif;
}
.btn{
  font-size: 16px !important;
}
.success-message {
  text-align: center;
  margin-top: 2rem;
}
h4{
    color: #37474F;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.coustombtn-success {
  background-color: #ffffff00 !important;
  border-color: #00BFA5 !important;
  color: #00BFA5 !important;
}

.coustombtn-success:hover {
  background-color: #009f8c !important;
  border-color: #009f8c !important;
  color: #ffffff !important;
}
@media (hover: hover) {
  a:hover,
  a.active {
    color: #00BFA5 !important;
  }
}

a.active {
  color: #00BFA5 !important;
}

@media (max-width: 998px) {
  .btn{
    font-size: 14px !important;
  }
}
